@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(39, 38, 38);
  color: white;
  color: whitesmoke;
  flex-direction: column;
}

.main-header {
  font-family: "Montserrat", sans-serif;
}

.create-form label {
  color: whitesmoke !important;
  font-family: "Montserrat", sans-serif;
  font-size: 12px !important;
}

li {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: large;
  padding-right: 50px;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}

li:hover {
  text-decoration: underline;
}
